[Desktop Entry]
Name=Momoirobara
Comment=Local kawaii music player
Exec=Momoirobara
Type=Application
Terminal=false
Categories=AudioVideo;Audio;Player;
